@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --very-small: 1.128rem;
    --small: 1.272rem;
    --normal: 1.618rem;
    --normal-big: 2.058rem;
    --big: 2.618rem;
    --very-big: 6.854rem;
    --color1: #EFF6E0;
    --color2: #18191b;
}

html {
    font-family: "Inria Serif";
    color: var(--color2);
    font-weight: 100;
}

header {
    display: flex;
    justify-content: right;
    padding-left: var(--very-small);
    padding-right: var(--big);
}

#top-logo {
    width: 5rem;
    height: 5rem;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
}

nav {
    display: grid;
    grid-template-columns: auto 2px auto 2px auto 2px auto;
    gap: var(--normal-big);
    align-content: center;
}

nav div {
    height: 100%;
    width: auto;
    background-color: var(--color1);
}

nav a {
    text-decoration: none;
    color: var(--color1);
    font-size: 1.6rem;
}

nav a:hover {
    text-decoration: underline solid var(--color1) 2px;
}

nav a:active {
    opacity: 70%;
}

nav, header img {
    margin-top: var(--very-small);
}

header > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: #223F7AFF;
    z-index: -1;
}

main {
    background-color: #223F7AFF;
    color: var(--color1);
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
}

.person {
    background-color: #18191b;
    border-radius: 15px;
    margin: 0 var(--very-big);
    display: flex;
    padding: var(--very-small) var(--small);
}

.person img {
    width: auto;
    height: 13rem;
    border-radius: 15px;
    margin-right: var(--big);
}

.person div {
    padding-right: calc(var(--big) - var(--small));
}

.person h2 {
    font-size: 2.3rem;
    font-weight: 900;
}

.person h3 {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: var(--very-small);
}

.person p {
    font-size: 1.2rem;
    font-weight: 100;
}

.person:not(#first-person) {
    margin-top: var(--big);
}

footer {
    background-color: #18191b;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: var(--very-big) var(--big);
    gap: var(--big);
    position: relative;
}

footer a {
    color: var(--color1);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer a:active {
    opacity: 70%;
}

footer h2 {
    font-size: 2.5rem;
}

footer ul {
    margin-top: var(--very-small);
    padding-left: var(--big);
}

footer li {
    font-size: 2rem;
}

#bottom-logo {
    width: 5rem;
    height: 5rem;
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 1;
}

img {
    transition-delay: 0;
    transition-duration: .1s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}

img:hover {
    filter: brightness(0.7);
}

img:active {
    opacity: .7;
}

#mega-image {
    opacity: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 2;
    background-color: #000000BB;
    transition-delay: 0;
    transition-duration: .5s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    pointer-events: none;
}

#mega-image--img {
    margin-top: var(--normal-big);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 70%;
    user-select: none;
}

#mega-image--img:hover {
    filter: brightness(1);
}

#mega-image--img:active {
    opacity: 100%;
}

#mega-image--h2 {
    color: var(--color1);
    width: 100%;
    text-align: center;
    margin-top: var(--small);
    font-size: 3rem;
    font-weight: 900;
    -webkit-text-stroke: var(--color1) 1px;
    user-select: none;
}